<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link type="text/css" rel="stylesheet" href="/resources/admin.css">

<script>
    function startChannel(button){
        $.post("/admin/channel/", {channel: button.getAttribute("name"), action:"join"}, function(result){
            console.log(result)
            button.setAttribute("onclick", "stopChannel(this)");
            button.innerHTML = "Leave";
        });
    }
    function stopChannel(button){
        $.post("/admin/channel/", {channel: button.getAttribute("name"), action:"leave"}, function(result){
            console.log(result)
            button.setAttribute("onclick", "startChannel(this)");
            button.innerHTML = "Join";
        });
    }

</script>

<div class="section">
    <h1>Twitch Bot</h1>
<ul>
{{ range $i, $channel := . }}
    <li class="channel">
        <button type="button" name="{{ $channel.Name }}" onClick="{{ if $channel.Active }}stopChannel(this){{ else }}startChannel(this){{ end }}">{{ if $channel.Active }}Leave{{ else }}Join{{ end }}</button>
        <div class="channelName">{{ $channel.Name }} </div>


    </li>
    <br \>
    <br \>
{{ end }}
</ul>

</div>

<style>



</style>